.container
{
    text-align: justify;
    line-height: 2.0;
}
h1 {
    color: #333;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px;
}
h1::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #ffdc12;
    left: 0;
    right: 0;
    bottom: -10px;
}
.conta p
{
color:black;
}
